[project]
	description = database source scripts/files for preload
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Ocean Observatories Owners
	owner = group user/Everett Kladstrup (r-ekladstrup)
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Preload Approvers
	label-Verified = -1..+1 group Preload Approvers
	submit = group Preload Approvers
[access "refs/tags/*"]
	push = group Ocean Observatories Owners
	push = group Preload Approvers
	pushTag = group Ocean Observatories Owners
	pushTag = group Preload Approvers
	pushSignedTag = group Ocean Observatories Owners
	pushSignedTag = group Preload Approvers
[submit]
	action = fast forward only
	mergeContent = false
