[project]
	description = database source scripts/files for preload
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Ocean Observatories Owners
	owner = group user/Everett Kladstrup (r-ekladstrup)
[access "refs/for/refs/*"]
	read = group user/Everett Kladstrup (r-ekladstrup)
	push = group user/Everett Kladstrup (r-ekladstrup)
	label-Code-Review = -2..+2 group user/Everett Kladstrup (r-ekladstrup)
	label-Verified = -1..+1 group user/Everett Kladstrup (r-ekladstrup)
	rebase = group user/Everett Kladstrup (r-ekladstrup)
	removeReviewer = group user/Everett Kladstrup (r-ekladstrup)
	submit = group user/Everett Kladstrup (r-ekladstrup)
[access "refs/heads/*"]
	read = group user/Everett Kladstrup (r-ekladstrup)
	create = group user/Everett Kladstrup (r-ekladstrup)
	push = +force group user/Everett Kladstrup (r-ekladstrup)
	pushMerge = group user/Everett Kladstrup (r-ekladstrup)
[access "refs/tags/*"]
	push = group Preload Approvers
	pushTag = group Preload Approvers
	pushSignedTag = group Preload Approvers
[submit]
	action = fast forward only
	mergeContent = false
