CREATE TABLE ooi.{{table.name}} (
    subsite text,
    node text,
    sensor text,
    bin bigint,
    method text,
    time double,
    deployment int,
    id uuid,
{% for column in table.common_columns %}
    {{column.name}} {{column.cqltype}},
{% endfor %}
    quality_flag text,
    provenance uuid,
{% for column in table.columns %}
    {{column.name}} {{column.cqltype}},
{% endfor %}
    PRIMARY KEY((subsite, node, sensor, bin), method, time, deployment, id)
);
